body{
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
}
.container{
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 30px;
    text-align: center;
}
input{
    border-radius: 5px;
    border: 0.2px solid black;
    align-items: center;
    padding: 10px;
    margin: 3px;
    width: 90%;
}
#sub:hover{
    background-color: rgb(207, 202, 202);
    cursor: pointer;
}
.count{
    margin-top: 10px;
}